---
import PrivateLayout from "../../layouts/PrivateLayout.astro";
import ReportingDashboard from "../../components/ReportingDashboard";
---

<PrivateLayout title="Reportes Avanzados">
  <h1 class="text-3xl font-titulo text-amarillo mb-6 text-center">Reportes Avanzados</h1>
  <ReportingDashboard client:load />
</PrivateLayout>
