---
export const prerender = false;
import PrivateLayout from "../../layouts/PrivateLayout.astro";
import GestionOrden from "../../components/GestionOrden.jsx";
const { id } = Astro.params;
---

<PrivateLayout title={`Orden #${id}`}>
  <h1 class="text-xl font-titulo text-amarillo text-center mb-4">
    Orden #{id}
  </h1>
  <GestionOrden id={id} client:load />
</PrivateLayout>
