---
import PrivateLayout from "../../layouts/PrivateLayout.astro";
import CrearOrden from "../../components/CrearOrden";
---

<PrivateLayout title="Nueva Orden">
  <h1 class="text-3xl font-titulo text-amarillo mb-6">Crear Nueva Orden</h1>
  <CrearOrden client:load />
</PrivateLayout>