---
import CrearOrden from "../../components/CrearOrden.jsx";
import PrivateLayout from "../../layouts/PrivateLayout.astro";
---

<PrivateLayout title="Órdenes abiertas">
    <h1 class="text-xl font-titulo text-amarillo text-center mb-4">Nueva Orden</h1>
    <CrearOrden client:load />
</PrivateLayout>