---
import LoginPalacio from "../components/Login.jsx";
---

<html lang="es">
  <head>
    <title>Iniciar sesión | Regente</title>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-neutral-900 text-white">
    <LoginPalacio />
  </body>
</html>
