---
import LoginPalacio from "../components/Login.jsx";

import "../styles/global.css"
---

<html lang="es">
  <head>
    <title>Iniciar sesión | El Palacio Negro</title>
    <meta charset="UTF-8" />
  </head>
  <body class="bg-negro text-white min-h-screen flex items-center justify-center font-texto">
    <main class="w-full max-w-md bg-vino p-6 rounded-xl shadow-lg">
      <h1 class="text-3xl font-titulo text-amarillo text-center mb-6">
        El Palacio Negro
      </h1>
      <LoginPalacio client:load/>
    </main>
  </body>
</html>
